<% delete_connection = ->(id) do %>
<%= form_tag(connection_path(id), method: :delete) {submit_tag('Delete', class: 'submit_link')} %>
<% end %>

<% decorate_connection = ->(connection) do %>
    <% case connection.state.to_sym %>
    <% when :in_progress %>
        <div>
            Connecting Your Account, Please Wait...
        </div>
    <% when :error %>
        <div>
            Error
            (<%= link_to 'Try Again?', controller: :connections, action: :new, service: connection.short_service_name,
                         id: connection.id %>) - <% delete_connection[connection.id] %>
        </div>
    <% when :expired %>
        <div>
            Your Session Has Expired
            (<%= link_to 'Reconnect', controller: :connections, action: :new, service: connection.short_service_name,
                         id: connection.id %>) - <% delete_connection[connection.id] %>
        </div>
    <% when :success %>
        <div>
            <%= connection.name %> - <% delete_connection[connection.id] %>
        </div>
    <% else
         raise "Invalid State (was #{state})"
       end
    end %>

<% new_connection = ->(name) do %>
    <p>
        <%= link_to 'Create New Connection', controller: :connections, action: :new, service: name %>
    </p>
<% end %>

<% max_connections = current_user.has_max_connections %>
<h4>Box:</h4>
<% current_user.box_connections.order('id').each &decorate_connection
   new_connection['box'] unless max_connections %>
<h4>Dropbox:</h4>
<% current_user.dropbox_connections.order('id').each &decorate_connection
   new_connection['dropbox'] unless max_connections %>
<h4>Google Drive:</h4>
<% current_user.google_connections.order('id').each &decorate_connection
   new_connection['google'] unless max_connections %>
<h4>SkyDrive:</h4>
<% current_user.skydrive_connections.order('id').each &decorate_connection
   new_connection['skydrive'] unless max_connections %>