<% decorate_connection = ->(connection) do %>
    <% id = connection.id %>
    <div class="connection">
    <% case connection.state.to_sym %>
    <% when :in_progress %>
      Connecting Your Account, Please Wait...
    <% when :error %>
      Error
      (<%= link_to 'Try Again?', controller: :connections, action: :new, service: connection.short_service_name,id: id %>) -
      <%= link_to('Delete', connection_path(id), method: :delete, onclick: 'show_spinner();') %>
    <% when :expired %>
      Your Session Has Expired
      (<%= link_to 'Reconnect', controller: :connections, action: :new, service: connection.short_service_name,id: id %>) -
      <%= link_to('Delete', connection_path(id), method: :delete, onclick: 'show_spinner();') %>
    <% when :success %>
      <%= connection.name %> - <%= link_to 'Rename', edit_connection_path(id), class: 'ajax-popup' %> -
      <%= link_to('Delete', connection_path(id), method: :delete, onclick: 'show_spinner();') %>
    <% else
      raise "Invalid State (was #{state})"
       end %>
    </div>
    <% end %>

<% new_connection = ->(name) do %>
    <div class="new_connection">
        <%= link_to 'Create New Connection', controller: :connections, action: :new, service: name %>
    </div>
<% end %>

<% max_connections = current_user.has_max_connections
   connections = current_user.connections.order('id').to_a
   if connections
     box_connections = connections.select { |c| c.instance_of? BoxConnection}
     dropbox_connections = connections.select { |c| c.instance_of? DropboxConnection}
     google_connections = connections.select { |c| c.instance_of? GoogleConnection}
     skydrive_connections = connections.select { |c| c.instance_of? SkydriveConnection}
     %>
     <h4>Box:</h4>
     <% box_connections.each &decorate_connection if box_connections
        new_connection['box'] unless max_connections %>
     <h4>Dropbox:</h4>
     <% dropbox_connections.each &decorate_connection if dropbox_connections
        new_connection['dropbox'] unless max_connections %>
     <h4>Google Drive:</h4>
     <% google_connections.each &decorate_connection if google_connections
        new_connection['google'] unless max_connections %>
     <h4>SkyDrive:</h4>
     <% skydrive_connections.each &decorate_connection if skydrive_connections
        new_connection['skydrive'] unless max_connections %>
   <% end %>