<% decorate_connection = ->(connection) do %>
    <% id = connection.id %>
    <% case connection.state.to_sym %>
    <% when :in_progress %>
        <div>
            Connecting Your Account, Please Wait...
        </div>
    <% when :error %>
        <div>
            Error
            (<%= link_to 'Try Again?', controller: :connections, action: :new, service: connection.short_service_name,
                         id: id %>) - <%= link_to('Delete', connection_path(id), method: :delete) %>
        </div>
    <% when :expired %>
        <div>
            Your Session Has Expired
            (<%= link_to 'Reconnect', controller: :connections, action: :new, service: connection.short_service_name,
                         id: id %>) - <%= link_to('Delete', connection_path(id), method: :delete) %>
        </div>
    <% when :success %>
        <div>
            <%= connection.name %> - <%= link_to('Delete', connection_path(id), method: :delete) %>
        </div>
    <% else
         raise "Invalid State (was #{state})"
       end
    end %>

<% new_connection = ->(name) do %>
    <p>
        <%= link_to 'Create New Connection', controller: :connections, action: :new, service: name %>
    </p>
<% end %>

<% max_connections = current_user.has_max_connections
   connections = current_user.connections.order('id').to_a
   if connections
     box_connections = connections.select { |c| c.instance_of? BoxConnection}
     dropbox_connections = connections.select { |c| c.instance_of? DropboxConnection}
     google_connections = connections.select { |c| c.instance_of? GoogleConnection}
     skydrive_connections = connections.select { |c| c.instance_of? SkydriveConnection}
   end %>
<h4>Box:</h4>
<% box_connections.each &decorate_connection if box_connections
   new_connection['box'] unless max_connections %>
<h4>Dropbox:</h4>
<% dropbox_connections.each &decorate_connection if dropbox_connections
   new_connection['dropbox'] unless max_connections %>
<h4>Google Drive:</h4>
<% google_connections.each &decorate_connection if google_connections
   new_connection['google'] unless max_connections %>
<h4>SkyDrive:</h4>
<% skydrive_connections.each &decorate_connection if skydrive_connections
   new_connection['skydrive'] unless max_connections %>