<div class="row">
    <% if flash[:errors] %>
        <h3 id="password-reset-header">Invalid Token</h3>
    <% else %>
        <h3 id="password-reset-header">Reset Your Password</h3>
        <section id="password-reset-box" class="panel">
            <%=
                form_tag user_password_reset_url,
                         method: :patch,
                         remote: true,
                         html: {class: 'form-horizontal', onsubmit: 'show_spinner();'} do
            %>
                <%= hidden_field_tag :token, @token %>
                <div id="inputs">
                    <div class="row">
                        <div class="large-5 columns">
                            <%=
                                label_tag :password, 'Password:', class: 'inline' %>
                        </div>
                        <div class="large-7 columns">
                            <%= password_field_tag :password, nil, required: true %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-5 columns">
                            <%= label_tag :password_confirmation, 'Confirm Password:', class: 'inline' %>
                        </div>
                        <div class="large-7 columns">
                            <%= password_field_tag :password_confirmation, nil, requred: true %>
                        </div>
                    </div>
                </div>
                <%= submit_tag 'Submit', class:'button' %>
            <% end %>
        </section>
    <% end %>
</div>
