<% provide :title_suffix, 'Settings' %>

<div class="row">

    <div class="medium-8 columns">
        <h1><%= current_user.name %></h1>
        <a href="//gravatar.com">
            <%=
                image_tag gravatar,
                          id: 'gravatar',
                          alt: 'Gravatar',
                          class: 'show-for-large-up',
                          height: '200',
                          width: '200'
            %>
        </a>
        <% if current_user.verified %>
            <h4>Your email address has been verified.</h4>

            <div class="settings-link">
                <%=
                    link_to 'Change My Email Address',
                            edit_user_email_address_path,
                            class: 'ajax-popup',
                            id: 'change-email'
                %>
            </div>
        <% else %>
            <h4>Your email address has not been verified.</h4>

            <div class="settings-link">
                <%=
                    link_to 'Resend Verification',
                            resend_verification_user_path,
                            class: 'spinner-link',
                            remote: true
                %>
            </div>
        <% end %>

        <div class="settings-link">
            <%=
                link_to 'Change My Password',
                        edit_user_password_path,
                        class: 'ajax-popup',
                        id: 'change-password'
            %>
        </div>

        <div class="settings-link">
            <%=
                link_to 'Delete My Account',
                        delete_user_path,
                        class: 'ajax-popup',
                        id: 'delete-account'
            %>
        </div>
    </div>
    <div class="medium-4 columns">
        <section id="services-panel" class="panel">
            <h3>Connections</h3>

            <div id="services"> Connections Loading...</div>
            <% unless current_user.has_max_connections %>
                <a href="#" class="button" data-dropdown="dropdown">Link a New Account</a>
                <ul id="dropdown" class="f-dropdown" data-dropdown-content>
                    <li>
                        <%=
                            link_to "Box",
                                    user_connections_path(service: 'box'),
                                    method: :post,
                                    class: 'spinner-link'
                        %>
                    </li>
                    <li>
                        <%=
                            link_to "Dropbox",
                                    user_connections_path(service: 'dropbox'),
                                    method: :post,
                                    class: 'spinner-link'
                        %>
                    </li>
                    <li>
                        <%=
                            link_to "Google Drive",
                                    user_connections_path(service: 'google'),
                                    method: :post,
                                    class: 'spinner-link'
                        %>
                    </li>
                    <li>
                        <%=
                            link_to "SkyDrive",
                                    user_connections_path(service: 'skydrive'),
                                    method: :post,
                                    class: 'spinner-link'
                        %>
                    </li>
                </ul>
            <% end %>
        </section>
    </div>
    <script>
        window.onload = function () {
            var connectionsPanel = $('#services');
            var promise;
            var refresh = function (connections) {
                connectionsPanel.empty();
                var inProgress = false;
                var i;
                for (i = 0; i < connections.length; i++) {
                    inProgress |= connections[i].state == 'in_progress';
                    connectionsPanel.append(render_connection(connections[i]));
                }
                if (inProgress) {
                    setTimeout(function () {
                        getConnections();
                    }, 500);
                }
            };
            var getConnections = function () {
                promise = $.Deferred();
                promise.fail(function (reason) {
                    connectionsPanel.append('<p>' + reason + '</p>');
                });
                promise.done(refresh);
                get_connections(promise);
            }
            getConnections();
        };
    </script>
</div>