<% cache do %>
    <% provide :title_suffix, 'Login' %>
    <div class="row">
        <div class="large-5 columns" id="login-container">
            <section id="login" class="panel">
                <%= form_tag sessions_path, remote: true, onsubmit: 'form_methods.toggle_load();' do %>
                    <h3>Login</h3>
                    <%= label_tag :email, 'Email Address:', class: 'control-label' %>
                    <%= email_field_tag :email, nil, placeholder: 'name@example.com', required: true %>
                    <%= label_tag :password, 'Password:', class: 'control-label' %>
                    <%= password_field_tag :password, nil, required: true %>
                    <%= label_tag :remember, 'Remember Me:', class: 'control-label', id: 'remember-label' %>
                    <%= check_box_tag :remember %>
                    <div id="links">
                        <a href="#">Forgot My Password</a>
                    </div>
                    <div id="wait" class="hide load">Please wait...</div>
                    <%= submit_tag 'Login', id: 'login-button', class: 'button small submit' %>
                <% end %>
            </section>
        </div>
        <div class="large-6 large-offset-1 columns hide-for-small">
            <div id="register-here">
                <h2>Register Now</h2>

                <p>Register now to be able to connect Nimbus to your accounts. All of you personal information is
                    stored securely. Passwords are hashed and salted using the bcrypt library.</p>
                <a href="<%= new_user_path %>" class="button large ajax-popup" id="register-button">Register</a>
            </div>
        </div>
    </div>
<% end %>
