<% provide :title_suffix, 'Register' %>

<div class="hero-unit" id="register">

    <h2>Register</h2>

    <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>

        <div class="control-group">
            <%= f.label :name, 'Name:', class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :name %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :email, 'Email Address:', class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :name %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :password, 'Password:', class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :name %>
            </div>
        </div>

        <div class="control-group">
            <%= f.label :password_confirmation, 'Confirm Password:', class: 'control-label' %>
            <div class="controls">
                <%= f.text_field :name %>
            </div>
        </div>

        <%= f.submit 'Submit', class: 'btn btn-large btn-primary' %>
    <% end %>
</div>