<% provide :title_suffix, 'Account' %>

<div class="row">

    <div class="large-8 columns">
        <h1>Welcome <%= user_name %>!</h1>

        <%= image_tag(gravatar, id: 'gravatar', alt: 'Gravatar', class: 'hide-for-small', height: '200',
                      width: '200') %>
        <% if user_verified
             verified = ' ' %>
        <% else
             verified = ' not ' %>
        <% end %>
        <h2>You are<%= verified %>verified</h2>
        <%= link_to 'Delete My Account', {controller: :users, action: :delete}, class: 'ajax-popup' %>
    </div>
    <div class="large-4 columns">
        <section id="services" class="panel">
         <%= render 'connections/show' %>
        </section>
    </div>
</div>