<div class="popup">
    <header>
        <h3>Change My Password</h3>
    </header>
    <section class="message">
        <p>
            Enter your new password and then confirm it.
        </p>
    </section>
    <%=
        form_for :user,
                 url: user_password_path,
                 method: :patch,
                 html: {onsubmit: 'show_spinner();'},
                 remote: true do |f|
    %>
        <div class="row">
            <div class="large-4 columns">
                <%= f.label :password, 'Password:', class: 'inline' %>
            </div>
            <div class="large-8 columns">
                <%= f.password_field :password, required: true %>
            </div>
        </div>

        <div class="row">
            <div class="large-4 columns">
                <%= f.label :password_confirmation, 'Confirm Password:', class: 'inline' %>
            </div>
            <div class="large-8 columns">
                <%= f.password_field :password_confirmation, required: true %>
            </div>
        </div>

        <footer>
            <%= f.submit 'Submit', class: 'button submit' %>
        </footer>
    <% end %>
</div>
