<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <a href="<%= root_path %>" id="logo">
                <div id="logo-image"></div>
            </a>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#">
                <span></span>
            </a>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="right">
            <li class="end-divider"></li>
            <li class="divider"></li>
            <% if (yield :title_suffix)=='Features' %>
                <li><%= link_to 'Features', features_path, class: 'active' %></li>
            <% else %>
                <li><%= link_to 'Features', features_path %></li>
            <% end %>
            <li class="divider"></li>
            <% if (yield :title_suffix)=='Contribute' %>
                <li><%= link_to 'Contribute', contribute_path, class: 'active' %></li>
            <% else %>
                <li><%= link_to 'Contribute', contribute_path %></li>
            <% end %>
            <li class="divider"></li>
            <% if (yield :title_suffix)=='About Us' %>
                <li><%= link_to 'About Us', about_path, class: 'active' %></li>
            <% else %>
                <li><%= link_to 'About Us', about_path %></li>
            <% end %>
            <li class="divider"></li>
            <% if current_user %>
                <li><%= link_to 'Logout', session_path, method: :delete %></li>
            <% else %>
                <% if (yield :title_suffix)=='Login' %>
                    <li><%= link_to 'Login', new_session_url ,protocol: secure_protocol, only_path: false, class: 'active' %></li>
                <% else %>
                    <li><%= link_to 'Login', new_session_url ,protocol: secure_protocol, only_path: false %></li>
                <% end %>
            <% end %>
            <li class="divider"></li>
            <li class="end-divider"></li>
        </ul>
    </section>
</nav>