<script>
    function loadingBar() {
        $('#register').modal('hide');
        $('#loadingBar').modal();
    }
</script>
<div class="modal hide fade" id="success">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Congratulations</h3>
    </div>

    <div class="modal-body">
        <p>You have now been successfully registered. Have Fun!</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">Okay</button>
    </div>
</div>
<div class="modal hide fade" id="loadingBar">
    <div class="modal-header">
        <h3>Please Wait...</h3>
    </div>

    <div class="modal-body">
        <div class="progress progress-striped active">
            <div class="bar" style="width: 100%;"></div>
        </div>
    </div>
</div>
<div class="modal hide fade" id="register">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Register</h3>
    </div>

    <div class="modal-body">
        <% if @user.nil? %>
            <% @user=User.new %>
        <% end %>
        <%= form_for @user, remote: true, html: {class: 'form-horizontal'} do |f| %>
            <div id="errors">
            </div>
            <div class="control-group">
                <%= f.label :name, 'Name:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :name, placeholder: 'John Doe' %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :email, 'Email Address:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :email, placeholder: 'name@example.com' %>
                </div>
            </div>
            <div class="control-group">
                <%= f.label :email, 'Confirm Email Address:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :email_confirmation, placeholder: 'name@example.com' %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :password, 'Password:', class: 'control-label' %>
                <div class="controls">
                    <%= f.password_field :password %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :password_confirmation, 'Confirm Password:', class: 'control-label' %>
                <div class="controls">
                    <%= f.password_field :password_confirmation %>
                </div>
            </div>

            <%= recaptcha_tags(display: {theme: 'clean'}) %>
            </div>

            <div class="modal-footer">
                <%= f.submit 'Submit', class: 'btn btn-large btn-primary', onclick: 'loadingBar()' %>
            </div>
        <% end %>
        </div>