<div id="register" class="popup">
    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
    <h3>Register</h3>
    <%= form_for @user, remote: true, html: {class: 'form-horizontal'} do |f| %>
        <section class="forms">
            <div class="row">
                <div class="large-5 columns">
                    <%= f.label :name, 'Name:', class: 'inline' %>
                </div>
                <div class="large-7 columns">
                    <%= f.text_field :name, placeholder: 'John Doe' %>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">

                    <%= f.label :email, 'Email Address:', class: 'inline' %>
                </div>

                <div class="large-7 columns">
                    <%= f.text_field :email, placeholder: 'name@example.com' %>
                </div>
            </div>
            <div class="row">
                <div class="large-5 columns">
                    <%= f.label :email, 'Confirm Email Address:', class: 'inline' %>
                </div>

                <div class="large-7 columns">
                    <%= f.text_field :email_confirmation, placeholder: 'name@example.com' %>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <%= f.label :password, 'Password:', class: 'inline' %>
                </div>
                <div class="large-7 columns">
                    <%= f.password_field :password %>
                </div>
            </div>

            <div class="row">
                <div class="large-5 columns">
                    <%= f.label :password_confirmation, 'Confirm Password:', class: 'inline' %>
                </div>
                <div class="large-7 columns">
                    <%= f.password_field :password_confirmation %>
                </div>
            </div>
        </section>

        <%= recaptcha_tags(display: {theme: 'clean'}, ajax: true) %>
        <footer>
            <%= f.submit 'Submit', class: 'button', id: 'submit' %>
        </footer>
    <% end %>
</div>
