<div class="modal hide fade" id="register">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Register</h3>
    </div>

    <div class="modal-body">
        <% unless flash[:register] %>
            <% @user=User.new %>
        <% end %>
        <%= form_for @user, html: {class: 'form-horizontal'} do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="control-group">
                <%= f.label :name, 'Name:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :name, placeholder: 'John Doe', required: true %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :email, 'Email Address:', class: 'control-label' %>
                <div class="controls">
                    <%= f.text_field :email, placeholder: 'name@example.com', required: true %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :password, 'Password:', class: 'control-label' %>
                <div class="controls">
                    <%= f.password_field :password, required: true %>
                </div>
            </div>

            <div class="control-group">
                <%= f.label :password_confirmation, 'Confirm Password:', class: 'control-label' %>
                <div class="controls">
                    <%= f.password_field :password_confirmation, required: true %>
                </div>
            </div>

            <%= recaptcha_tags(display: {theme: 'clean'}) %>
            </div>

            <div class="modal-footer">
                <%= f.submit 'Submit', class: 'btn btn-large btn-primary' %>
            </div>
        <% end %>
        </div>