<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title(yield :title_suffix) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'vendor/custom.modernizr' %>
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <%= csrf_meta_tags %>
    <%= render 'layouts/ie_head' %>
    <%= render 'layouts/inline_css' %>
</head>

<body>

<%= render 'layouts/ie_warning' %>
<%= render 'layouts/header' %>
<div id="content">
    <%= yield %>
</div>
<%= render 'layouts/footer' %>


</body>
</html>