<!DOCTYPE html>
<html>
<head>
    <title><%= title(yield :title_suffix) %></title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= render 'layouts/ie_head'  %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/ie_warning' %>
<%= render 'layouts/header' %>
<div id="content">
    <%= yield %>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
