<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <% if mobile? %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <% end %>
    <title><%= title(yield :title_suffix) %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= jquery_include_tag :google %>
    <%= javascript_include_tag 'application' %>
    <% faye = ENV['HOST'] ? '/api/socket/client.js' : 'http://127.0.0.1:8081/api/socket/client.js' %>
    <%= javascript_include_tag faye %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'alert_box' %>
<%= render 'browser_warning' %>
<%= render 'header' %>
<div id="content">
    <%= yield %>
</div>
<%= render 'footer' %>
</body>
</html>
