<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title(yield :title_suffix) %></title>
    <%= stylesheet_link_tag 'application' %>
	<%= jquery_include_tag :google %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'application/browser_warning' if outdated_browser? %>
<%= render 'header' %>
<div id="content">
    <%= yield %>
</div>
<%= render 'footer' %>
</body>
</html>